<!DOCTYPE>
<html>
    <head>
        <title>Shopper's Paradise</title>
    </head>
    <body>
        <h1>What you wanna buy?</h1>
        <label for="item">Enter your item</label>
        <form method="POST" action="/checkout">
            <input type="text" name="item" id="item">
            <input type="submit" id="submit">
        </form>
    </body>
</html>
